@import "variables";

.header {
  background-color: $--neutral-100;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 48px 24px;

    &.desktop {
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    &.mobile {
      @media screen and (min-width: 1024px) {
        display: none;
      }
      padding: 24px 24px;
    }
  }

  &__navigation {
    ul {
      padding: 0;
      margin: 0;

      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 16px;
      font-size: $fs-xs;
    }
  }
}
