@import "variables";

.product {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 56px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__content {
    &-right {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media screen and (min-width: 768px) {
        gap: 32px;
        width: 40%;
      }
    }

    &-left {
      @media screen and (min-width: 768px) {
        width: 60%;
      }
    }
  }

  &__title {
    font-family: $font-primary;
    font-size: $fs-xl;
    font-weight: 400;
    line-height: 150%;
    color: $--primary800;
  }

  &__price {
    font-family: $font-secondary;
    font-size: $fs-xl;
    font-weight: 700;
    line-height: 150%;
    color: $--primary500;
  }

  &__description {
    font-family: $font-secondary;
    font-size: $fs-xs;
    font-weight: 400;
    text-align: left;

    border-top: 1px solid $--neutral-300;
    padding-top: 24px;
    @media screen and (min-width: 768px) {
      gap: 32px;
    }
    &--title {
      font-weight: 600;
      color: $--primary900;
      margin-bottom: 8px;
    }

    &--text {
      color: $--primary500;
    }
  }

  &__button {
    display: flex;
    width: 288px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $--primary900;
    border-radius: 2px;

    span {
      font-family: $font-secondary;
      font-size: $fs-xs;
      line-height: 16px;
      color: $--neutral-100;
      text-transform: uppercase;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 400px;
    }
  }

  &__image {
    height: 431px;
    display: flex;
    justify-content: center;
    img {
      max-width: 368px;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      height: 100%;
      img {
        max-height: 340px;
      }
    }
  }

  &__rating {
    align-items: center;
    gap: 4px;
    @media screen and (min-width: 1024px) {
      margin-top: 36px;
    }
    &-text {
      margin-bottom: 2px;
      color: $--neutral-500;
      font-family: $font-secondary;
      font-size: $fs-xxs;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__error {
    margin: 100px 0 200px;
    text-align: center;
  }
}
